body{
    background-image: url(img/PlatanoAbierto.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
header img{
    top: 2px;
    left: 2px;
    right: 2px;
    min-width: 50%;
    max-height: 100px;
    margin-left: 25%;
}
ul{
    text-align: center;
    list-style: none;
}
nav a{
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}
nav li{
    display: inline-block;
    border: 1.5px solid black;
    width: 300px;
    background: rgb(123, 123, 53);
    margin: -3px;
    text-align: center;
}
nav li:hover{
    background-color: rgb(127, 194, 2);
    color: black;
}
.descripcion{
    font-size: 1.0em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    align-items: center;
}
.inicio{
    text-transform: uppercase;
    font-size: 1.4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    align-items: center;
    font-weight: 800;
}
.multimedia{
    text-align: center;
}
.multimedia img{
    width: 600px;
    height: 300px;
}
.video{
    width: 600px;
    height: 300px;
}
.copyright{
    font-size: 1em;
    position: static;
    display: flex;
    justify-content: center;
}
.copyright p{
    color: black;
}